<hr>
<h1>Id's Done!</h1>
<h4>Your Apiary was added to our list.</h4>
<div class="wrapper">
<table>
    <thead>
    <tr>
        <th>Id:</th>
        <th>Name:</th>
        <th>Control sum:</th>
        <th>Your number:</th>
        <th>Start Date:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.controlSum}}</td>
        <td>{{oneToMoreDigits this.dailyNumber}}</td>
        <td>{{this.startTime}}</td>

    </tr>
    </tbody>
</table>
</div>
{{>jokeOnTheEnd}}