<hr>
<h3>Check our list of Apiarries!</h3>
<div class="wrapper">
<table>
    <thead>
        <tr>
            <th>Id:</th>
            <th>Name:</th>
            <th>Control sum:</th>
            <th>Your number:</th>
            <th>Start Date:</th>
        </tr>
    </thead>
    <tbody>
{{#each allApiaries}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.controlSum}}</td>
        <td>{{oneToMoreDigits this.dailyNumber}}</td>
        <td>{{this.startTime}}</td>
    </tr>
{{/each}}
    </tbody>
</table>
</div>

