<hr>
<h3>Check our list of Apiarries!</h3>
<form action="/" method="get" class="datePicker">
    <label>
        Date from:
        <input id="dateFrom" type="date" name="dateFrom" {{#if (checkIfListExists allApiaries)}}value="{{findMin allApiaries}}"{{/if}}>
    </label>
    <label>
        Date to:
        <input id="dateTo" type="date" name="dateTo" {{#if (checkIfListExists allApiaries)}}value="{{findMax allApiaries}}"{{/if}}>
    </label>
    <button type="submit">Filter dates</button>
</form>
<div class="wrapper">
    {{#if (checkIfListExists allApiaries)}}
<table>
    <thead>
        <tr>
            <th><a href="/" id="direction">Id: <strong>&#8597</strong><strong>&#8593</strong><strong>&#8595</strong></a></th>
            <th>Name:</th>
            <th>Control sum:</th>
            <th>Your number:</th>
            <th>Start Date:</th>
        </tr>
    </thead>
    <tbody>
{{#each allApiaries}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.controlSum}}</td>
        <td>{{oneToMoreDigits this.dailyNumber}}</td>
        <td>{{this.startTime}}</td>
    </tr>
{{/each}}
    </tbody>
</table>
    {{else}}
        <h3>Sorry no Apiaries on the list</h3>
    {{/if}}
</div>
{{>jokeOnTheEnd}}

    <script>
        const dateFrom = document.getElementById('dateFrom');
        const dateTo = document.getElementById('dateTo');
        const direction = document.getElementById('direction');

        const resetValues = ()=> {
            dateTo.min = dateFrom.value;
            dateTo.max = new Date().toLocaleDateString('sv');
            dateFrom.max = new Date().toLocaleDateString('sv');
        }
        resetValues();
        dateFrom.addEventListener('change', (e)=>{
            if (e.target.value > dateTo.value){
                dateTo.value = e.target.value;
            }
            dateTo.min = e.target.value;
        });
        dateTo.addEventListener('change', (e)=>{
            if (e.target.value < dateFrom.value){
                dateFrom.value = e.target.value;
                dateTo.min = dateFrom.value;
            }
        });

    </script>
